.container
  .row.u-margin-top-lg.u-margin-bottom-sm.text-center
    .col-md-12
      %h1 Speakers from last year
  .row.u-margin-bottom-md
    - data.speakers_commit.each do |speaker|
      -if speaker.speakingregions.include?("Featured") && speaker.years.include?(2020)
        .col-md-4
          = partial "includes/events/speaker", locals: {name: speaker.name, title: speaker.title, company: speaker.company, photourl: speaker.photourl}
