<div>
<% data.jobs_to_be_done.each do |primary_jtbd| %>
    <% if primary_jtbd.group == stage_key && (primary_jtbd.parent.nil? || primary_jtbd.parent.empty?) %>
      <p>
        <strong><%= primary_jtbd.jtbd %></strong>
      </p>
      <table style="width: 100%">
        <colgroup>
          <col span="1" style="width: 60%;">
          <col span="1" style="width: 20%;">
          <col span="1" style="width: 13%;">
          <col span="1" style="width: 9%;">
        </colgroup>
        <tr>
          <th>Job stories</th>
          <th>Maturity</th>
          <th>Confidence</th>
          <th>Source</th>
        </tr>

      <% data.jobs_to_be_done.each do |secondary_jtbd| %>
          <% if primary_jtbd.group == stage_key && (secondary_jtbd.parent == primary_jtbd.slug) %>
              <tr>
                <td>
                  <%= secondary_jtbd.jtbd %>
                </td>
                <td>
                  <%= ux_grade(secondary_jtbd.grade) %>
                </td>
                <td>
                  <%= secondary_jtbd.confidence %>
                </td>
                <td>
                  <a href="<%= primary_jtbd.source %>">Issue</a>
                </td>
              </tr>
          <% end %>
      <% end %>
      </table>
    <% end %>
<% end %>
</div>
